$colorSeparator: #ebeff0;
$colorSeparator--dark: #c9cfd0;
$colorSeparator--black: #000;
$colorBackground: #fff;
$colorHeaderBackground: #fff;
$colorHeaderStickyBackground: #fff;

$colorLogo: #3db962;
$colorHoverLogo: #34a356;

$header-font: 'Ubuntu', sans-serif;;
$montserat-font: 'Montserrat', sans-serif